.styles {
    position: relative;
    left: 35%;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #00e6ac;
}

.fixed {
    margin-top: 51px;
    background-color: white;
    width: 150px;
    height: 600px;
}

.content {
    margin-left: 190px;
    margin-top: 25px;
    background-color: white;
    height: 550px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #BDC3C7;
}

.pre-scrollable {
    max-height: 525px;
    height: 525px;
}
}
